<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Role Based Auth</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link rel="stylesheet" 
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<!-- <style>
    .navbar {
        background-color: #61df88;
    }
</style> -->

<body>

    <!-- create navigation bar ( header) -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               <h2>Role Based Authentication</h2>
            </div>
        </div>
    </nav> -->

    <!-- <br><br><br><br><br><br><br> -->
    <!-- Create HTML registration form -->
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3"> -->

                <!-- success message -->
                <!-- <div th:if="${param.success}">
                  <div class="alert alert-info">You've successfully registered
                        to our awesome app!</div>
                </div>

                <h1>Registration</h1>

                <form th:action="@{/registration}" method="post" 
                             th:object="${user}">
                    <div class="form-group">
                        <label class="control-label" for="firstName"> 
                           First Name </label>
                        <input id="firstName" class="form-control" 
                                 th:field="*{name}" required
                            autofocus="autofocus" />
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="email"> Email 
                         </label> <input id="email" class="form-control"
                            th:field="*{email_id}" required autofocus="autofocus" 
                                />
                    </div>
                    
                    

                    <div class="form-group">
                        <label class="control-label" for="password"> 
                           Password </label> <input id="password"
                            class="form-control" type="password" 
                          th:field="*{password}" required
                            autofocus="autofocus" />
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="role"> 
                           Role </label> <select id="role" th:field="*{role}" class="form-control form-control-lg">
													<option value="USER">USER</option>
													<option value="ADMIN">ADMIN</option>
												</select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                          Register</button>
                        <span>Already registered? <a href="/" 
                  th:href="@{/login}">Login
                                here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div> -->


    <div class="wrapper">
        <div class="form-wrapper sign-up">
            <form th:action="@{/registration}" method="post" 
            th:object="${user}">
                <h2>Sign Up</h2>
                <div class="input-group">
                    <input type="text" th:field="*{name}" required>
                    <label for=" ">Username</label>
                </div>
                <div class="input-group">
                    <input type="email" th:field="*{email_id}" required>
                    <label for=" ">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" th:field="*{password}" required>
                    <label for=" ">Password</label>
                </div>
                <div>
                    <div class="label-group">
                    <label for="role"> 
                        Role </label> 
                    
                        <br>
                        
                    <select id="role" th:field="*{role}" class="form-control">
                        <option value="Select">Select</option>
                        <option value="USER">USER</option>
                        <option value="ADMIN">ADMIN</option>
                                             </select>
                                    
                </div>
                <div class="remember">
                    <label><input type="checkbox"> I agree to the terms & conditions</label>
                </div>
                <button type="submit">Sign Up</button>
                <div class="signUp-link">
                    <p>Already have an account?<a 
                        th:href="@{/login}" class="signInBtn-link"> Sign In</a></p>
                </div>
            </form>
        </div>
    </div>

</body>
</html>